<div class="devise-container devise-edit-user">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <section class="edit-sect-1">
      <%= f.label :profile_photo do %>
        <div class="upload upload-edit profile-photo photo">
          <%= f.file_field :profile_photo, onchange: 'loadFile(event)', class: 'input-file'%>
          <% if resource.profile_photo.attached? %>
            <span id="add" hidden>+</span>
            <%= image_tag(resource.profile_photo, id: 'output') %>
          <% else %>
            <img id="output"/>
          <% end %>
          <div class="trash-icon"></div>
        </div>
      <% end %>
      <aside>
        <h2>Editar datos de usuario</h2>

        <div class="field">
          <%= f.label :name, 'Nombre' %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
        
        <div class="field">
          <%= f.label :email, 'Correo' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </aside>
    </section>

    <section class="edit-sect-2">
      <div class="field">
        <%= f.label :birthdate, 'Fecha de nacimiento' %>
        <%= f.date_field :birthdate %>
      </div>

      <div class="field">
        <%= f.label :phone, 'Teléfono' %>
        <%= f.telephone_field :phone, autocomplete: "phone" %>
      </div>

      <div class="field">
        <%= f.label :gender, 'Genero', style: "display: block" %>
        <%= f.select :gender, [['Sin especificar', 'unspecified'],['Masculino', 'male'], ['Femenino', 'female']] %>
      </div>

      <div class="field">
        <%= f.label :role, 'Usuario' %>
        <%= f.select :role, [["Huesped", "guest"], ["Anfitrión", "host"]], {}, onchange: "showDni();" %>
      </div>

      <div class="field edit-pw">
        <%= f.label :password, 'Contraseña' %> <i>(Deja en blanco si no deseas cambiar tu contraseña)</i>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field edit-pw">
        <%= f.label :password_confirmation, 'Confirma tu contraseña' %>
        <% if @minimum_password_length %>
          <i><%= @minimum_password_length %> caracteres minimos</i>
        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </section>

    <div class="field">
      <%= f.label :address, 'Dirección' %>
      <%= f.text_field :address, autocomplete: "address" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field edit-pw">
      <%= f.label :current_password, 'Contraseña actual' %> <i>(Ingresa tu contraseña para confirmar tus cambios)</i>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <% if !resource.dni_photo.attached?%>
      <div class="field file-field" id="hidden_div">
        <%= f.label :dni_photo do %>
          <span><strong>Debes subir tu identificación:</strong></span>
          <div class="upload photo">
            <%= f.file_field :dni_photo, onchange: 'loadDNI(event)', class: 'input-file' %>
            <span id="addDNI">+</span>
            <img id="dni"/>
            <div class="trash-icon"></div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Actualizar" %>
    </div>
  <% end %>

  <div class="edit-sect-3">
    <h3>¿No te gusta PetCare?</h3>
    <%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    <%= link_to 'Regresar', :back %>
  </div>
</div>
