<main class="container-log">
  <div class="container-positon">
    <h2><%= t('devise.form.registro') %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="photo">
        <% if resource.profile_photo.attached? %>
          <%= image_tag(resource.profile_photo) %>
        <% else  %>
          <%= image_tag("default-profile.jpg" , class: "img-circular") %>
        <% end %>
        <%= f.file_field :profile_photo %> 
      </div>

      <div class="field">
        <%= f.label :name, t('devise.label.name') %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Escribe tu nombre" %>
      </div>

      <div class="devise">
        <div class="field">
          <%= f.label :email, t('devise.label.email') %>
          <%= f.email_field :email, autocomplete: "email", placeholder:"Escribe tu correo" %>
        </div>
        <div class="field">
          <%= f.label :password, t('devise.label.password') %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "******" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, t('devise.label.password_confirmation') %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "******" %>
        </div>
      </div>

       <div class="field">
        <%= f.label :address, t('devise.label.address') %>
        <%= f.text_field :address, autocomplete: "address", placeholder: "Escribe tu dirección" %>
      </div>

      <div class="devise">
        <div class="field">
          <%= f.label :birthdate, t('devise.label.birthdate') %>
          <%= f.date_field :birthdate %>
        </div>

        <div class="field">
          <%= f.label :phone, t('devise.label.phone') %>
          <%= f.telephone_field :phone, autocomplete: "phone", placeholder: "000-000-0000"%>
        </div>

        <div class="field">
          <%= f.label :role, t('devise.label.role') %>
          <%= f.select :role, ['guest', 'host'], {}, :onchange => "showDni();"%>
        </div>
      </div>
   
      <div id="hidden_div">
        <div class="photo">
          <%= f.label :dni_photo, t('devise.label.dni_photo') %>
          <%= f.file_field :dni_photo %> 
        </div>
      </div>
        

      <div class="actions">
        <%= f.submit t('devise.label.sign_up'), data: {turbo: false}, class: "button-log" %>
      </div>
    <% end %>
  </div> 
</main>

  