<div class="new-model">
  <%= form_with(model: pet) do |form| %>
    <% if pet.errors.any? %>
      <div class="invalid-form">
        <p>Ha ocurrido un error:</p>
        <aside>
          <% pet.errors.each do |error| %>
            <p><%= error.full_message %></p>
          <% end %>
        </aside>
      </div>
    <% end %>
    <div class="edit-sect-1">
      <% if action_name == 'edit' %>
        <div class="file-field">
          <%= form.label :photo do %>
            <span><strong>Actualizar foto:</strong></span>
            <div class="upload photo upload-edit">
              <%= form.file_field :photo, onchange: 'loadFile(event)', class: 'input-file'%>
              <% if pet.photo.attached? %>
                <span id="add" hidden >+</span>
                <%= image_tag(pet.photo, id: 'output')  %>
              <% else %>
                <img id="output"/>
              <% end %>
              <div class="trash-icon"></div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="file-field">
          <%= form.label :photo do %>
            <span><strong>Subir foto:</strong></span>
            <div class="upload photo">
              <%= form.file_field :photo, onchange: 'loadFile(event)', class: 'input-file' %>
              <span id="add">+</span>
              <img id="output"/>
              <div class="trash-icon"></div>
            </div>
          <% end %>
        </div>
      <% end %>
      <aside class="new-home-form pets">
        <% if action_name == 'new' %>
          <h1>Registra a tu mascota</h1>
        <% else %>
          <h1>Actualiza la información de tu mascota</h1>
        <% end %>
        <div class="field">
          <%= form.label :name, 'Nombre', style: "display: block" %>
          <%= form.text_field :name, placeholder: 'Nombre de tu mascota' %>
        </div>
        <div class="field">
          <%= form.label :breed, 'Raza', style: "display: block" %>
          <%= form.text_field :breed, placeholder: 'Raza de tu mascota' %>
        </div>
      </aside>
    </div>
    <div class="field">
      <%= form.label :description, 'Descripción', style: "display: block" %>
      <%= form.text_area :description, placeholder: 'Breve descripción' %>
    </div>
    <div class="button-back">
      <div class="actions">
        <%= form.submit 'Registrar mascota', class: "button" %>
      </div>
    </div>
  <% end %>
</div>
<div id="icon-back links">
  <a href= <%= pets_path %>><i class="fa-solid fa-arrow-rotate-left"></i></a>
</div>
