<div id="<%= dom_id pet %>" class="pet-id">
  <div class="new-desktop pets-view">
    <div class="content-pet">
      <div class="new-pet-photo">
        <p class="img-photo">
          <%= image_tag pet.photo.variant(resize_to_limit: [300, 300]), class:"img-main" %>
        </p>
      </div>  
      <div class="field-pet-photo">
        <p>
        <strong>Nombre:</strong>
          <%= pet.name %>
        </p>
        <p>
          <strong>Raza:</strong>
          <%= pet.breed %>
        </p>
        <p>
          <strong>Descripción:</strong>
          <%= pet.description %>
        </p>
      </div>
      <p class="show-pet-link">
        <%= link_to "Mostrar", pet %>
      </p>
    </div>
  </div>
</div>
