<nav>
  <div class="nav-container">
    <div class="left-nav">
      <div class="logo">
        <%= link_to '<i class="fa-solid fa-paw"></i> <span>PetCare</span>'.html_safe, '/' %>
      </div>
    </div>

    <div class="right-nav">
      <% if user_signed_in? %>
        <%= (link_to 'Hazte anfitrión', edit_user_registration_path) if current_user.guest? %>
      <% end %>
      <ul class="menus" id="menus">
        <li onclick="showGeneralMenu()" class="filter-options" id="filter-options">
          <i class="fa-solid fa-bars"><%= render 'partials/general_options' %></i>
        </li>
        <li onclick="showUserMenu()" class="user-options" id="user-options">
          <i class="fa-regular fa-user"><%= render 'partials/sessions_options' %></i>
        </li>
      </ul>
      <div class="notification-menu" onclick="showNotifications()">
        <i class="fa-solid fa-bell">
        <% if user_signed_in? %>
          <% unless current_user.notifications.unread.size.zero? %>
            <div class="reservation-count">
              <span id="total-notifications"><%= current_user.notifications.unread.size %></span>
            </div>
            <%= render "partials/notifications" %>
          <% end %>
        <% end %>
        </i>
      </div>
    </div>
  </div>
</nav>
