<%= form_with(
  url: "search_homes",
  local: true, 
  data: {
  controller: :mapsearch,
  action: "google-maps-callback@window->mapsearch#initializeMap"},
  class: "search-home",
  html: {id: "search"}
) do |form| %>

  <div class="location search-section">
    <%= form.label :address %>
    <%= form.search_field :address,  class: 'form-control', data: { target: "mapsearch.field", action: "keydown->mapsearch#preventSubmit" } %>
  </div>

  <%= form.hidden_field :latitude, data: { target: "mapsearch.latitude" } %>
  <%= form.hidden_field :longitude, data: { target: "mapsearch.longitude" } %>

  <%= form.hidden_field :ids %>

  <div class="check-in search-section">
    <%= form.label :llegada %>
    <%= form.date_field :llegada , class: 'search-input'%>
  </div>

  <div class="check-in search-section">
    <%= form.label :salida %>
    <%= form.date_field :salida , class: 'search-input'%>
  </div>

  <div class="search">
      <%= button_tag type: 'submit', data: { action: "click->mapsearch#searchNear" }, class: "" do %>
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      <% end %>
  </div>

<% end %>
