<%= form_with(
  local: true, 
  data: {
  controller: :mapsearch,
  action: "google-maps-callback@window->maps#initializeMap"},
  class: "search-home",
) do |form| %>

  <div class="location search-section">
    <%= form.label :address %>
    <%= form.search_field :address,  class: 'form-control', data: { target: "mapsearch.field", action: "keydown->mapsearch#preventSubmit" } %>
  </div>

  <%= form.hidden_field :latitude, data: { target: "mapsearch.latitude" } %>
  <%= form.hidden_field :longitude, data: { target: "mapsearch.longitude" } %>

  <div class="check-in search-section">
    <label>Llegada</label>
    <input type="date" class="search-input" placeholder="¿Cuándo?">
  </div>

  <div class="check-out search-section">
    <label>Salida</label>
    <input type="date" class="search-input" placeholder="¿Cuándo?">
  </div>

  <div class="search">
    <div>
      <button type="submit" class="">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

<% end %>
