<div class="profile" id="<%= dom_id user %>">

  <figure class="profile-photo">
    <%= image_tag user.profile_photo.variant(resize_to_limit: [300, 300]) %>
  </figure>

  <p>
    <strong>Nombre:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= user.phone %>
  </p>

  <% if action_name == 'profile' %>
    <p>
      <strong>Fecha de nacimiento:</strong>
      <%= user.birthdate %>
    </p>

    <p>
      <strong>Dirección:</strong>
      <%= user.address %>
    </p>
  <% end %>

  <% if !user.pets.size.zero? %>
    <p><strong>Mascotas registradas:</strong></p>
    <div class="field photos_field">
    <% user.pets.each do |pet| %>
        <% if action_name == 'profile' %>
          <%= link_to pet_path(pet), class: 'photo pet' do %>
            <%= image_tag(pet.photo) %>
            <div class="trash-icon"></div>
          <% end %>
        <% else %>
          <figure class="photo pet">
            <%= image_tag(pet.photo) %>
          </figure>
        <% end %>
      <% end %>
      <% if action_name == 'profile' %>
        <%= link_to new_pet_path, class: 'photo pet new-link' do %>
          <span>+</span>
          <div class="trash-icon"></div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if !user.homes.size.zero? %>
    <p><strong>Casa publicadas:</strong></p>
    <div class="field photos_field">
      <% user.homes.each do |home| %>
        <%= link_to home_path(home), class: 'photo' do %>
          <%= image_tag(home.photos[0]) %>
          <div class="trash-icon"></div>
        <% end %>
      <% end %>
      <% if action_name == 'profile' %>
        <%= link_to new_pet_path, class: 'photo new-link' do %>
          <span>+</span>
          <div class="trash-icon"></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if action_name == 'profile' %>
    <%= link_to "Actualizar informacion", edit_user_registration_path %>
  <% end %>
</div>
