<div class="profile" id="<%= dom_id user %>">

  <section class="profile-section">
    <figure class="profile-photo">
      <%= image_tag user.profile_photo.variant(resize_to_limit: [500, 500]) %>
    </figure>

    <div class="user-info">
      <p><strong>Nombre:</strong><br><%= user.name %></p>

      <% if action_name == 'profile' %>
        <p><strong>Dirección:</strong><br><%= user.address %></p>
      <% end %>

      <p><strong>Telefono:</strong><br><%= user.phone %></p>

      <p><strong>Genero:</strong><br><%= translate_gender(user) %></p>

      <% if action_name == 'profile' %>
        <p><strong>Fecha de nacimiento:</strong><br><%= user.birthdate %></p>
      <% end %>
    </div>
  </section>
  
  <% if !user.pets.size.zero? %>
    <p><strong>Mascotas registradas:</strong></p>
    <div class="field photos-field">
      <% user.pets.each do |pet| %>
          <% if action_name == 'profile' %>
            <%= link_to pet_path(pet), class: 'photo pet' do %>
              <%= image_tag(pet.photo) %>
              <div class="trash-icon"></div>
            <% end %>
          <% else %>
            <figure class="photo pet">
              <%= image_tag(pet.photo) %>
            </figure>
          <% end %>
      <% end %>
      <% if action_name == 'profile' %>
        <%= link_to new_pet_path, class: 'photo pet new-link' do %>
          <span>+</span>
          <div class="trash-icon"></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <% if !user.homes.size.zero? %>
    <p><strong>Casa publicadas:</strong></p>
    <div class="field photos-field">
      <% user.homes.each do |home| %>
          <%= link_to home_path(home), class: 'photo' do %>
            <%= image_tag(home.photos[0]) %>
            <span class="score-link">
              <i class="fa-solid fa-star"></i>
              <%= home.score %>
            </span>
            <div class="trash-icon"></div>
          <% end %>
      <% end %>
      <% if action_name == 'profile' %>
        <%= link_to new_pet_path, class: 'photo new-link' do %>
          <span>+</span>
          <div class="trash-icon"></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if action_name == 'profile' %>
    <%= link_to '<i class="fa-solid fa-pen-to-square edit-link"></i>'.html_safe, edit_user_registration_path %>
  <% end %>
</div>
