<section class="section-img">
</section>

<main class="home-main">
  <%= render 'partials/searcher' %>

  <section class="search-options">
    <div>
      <p>Conoce el lugar ideal para tu compañero</p>
    </div>
    <div class="cards">
      <div class="cards-container">
      <%= link_to homes_path(filter: 'date'), class: 'card' do %>
         <figure>
          <%= image_tag "https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class:"image"%>
        </figure>
        <p>Más recientes</p>
      <% end %>
      <%= link_to homes_path(filter: 'score'), class: 'card' do %>
        <figure>
          <%= image_tag "https://images.pexels.com/photos/1643389/pexels-photo-1643389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class:"image"%>
        </figure>
        <p>Mejor reputación</p>
       <% end %>
      <%= link_to homes_path(filter: 'price_lower'), class: 'card' do %>
        <figure>
          <%= image_tag "https://images.pexels.com/photos/1396132/pexels-photo-1396132.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class:"image"%>
        </figure>
        <p>Menor costo</p>
       <% end %>
      <%= link_to homes_path(filter: 'price_higher'), class: 'card' do %>
        <figure>
          <%= image_tag "https://images.pexels.com/photos/259588/pexels-photo-259588.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class:"image"%>
        </figure>
        <p>Mayor costo</p>
       <% end %>
    </div>
  </section>    

  <div class="btn">
    <%= button_to 'Ver todas', homes_path, class: 'button', method: :get %>
  </div>
</main>
