<%= form_with(model: reservation, class: 'reservation-form') do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.attribute %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <% unless action_name == 'edit' %>
    <div class="hidden">
      <%= form.hidden_field :home_id, value: @home.id %>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :check_in, style: "display: block" %>
    <%= form.date_field :check_in, min: Date.today, required: true, onchange: 'totalAmount()' %>
  </div>

  <div class="field">
    <%= form.label :check_out, style: "display: block" %>
    <%= form.date_field :check_out, min: (Date.today + 1.days), required: true, onchange: 'totalAmount()' %>
  </div>

  <div class="field">
    <%= form.label :pets_number, style: "display: block" %>
    <%= form.select :pets_number, (1..current_user.pets.size), required: true %>
  </div>

  <div class="confirm">
    <div>
      <h3>Total:</h3>
      <p id="price" hidden><%= @home.price %></p>
      <p id="amount">$0</p>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
