<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.attribute %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :home_id, value: @home %>
  </div>

  <div>
    <%= form.label :check_in, style: "display: block" %>
    <%= form.date_field :check_in, min: Date.today, required: true %>
  </div>

  <div>
    <%= form.label :check_out, style: "display: block" %>
    <%= form.date_field :check_out, min: (Date.today + 1.days), required: true %>
  </div>

  <div>
    <%= form.label :pets_number, style: "display: block" %>
    <%= form.number_field :pets_number, required: true %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
