<article class="reservation">
  <div class="reservation-detail">
    <h1><%= reservation.home.title %></h1>
    <%= csrf_meta_tags %>
    <section class="reservation-info">
      <%= link_to reservation.home, class: 'home-link' do %>
        <%= image_tag reservation.home.photos[0].variant(resize_to_limit: [500, 500]) %>
      <% end %>
      <div>
        <h3>Dirección:</h3>
        <p><%= reservation.home.address %></p>
        <h3>Ofrecido:</h3>
        <%= link_to reservation.home.user.name, user_path(reservation.home.user)%>
      </div>
    </section>
    <section class="reservation-date">
      <p>
        Se solicito una reservación del 
        <strong><%= reservation.check_in.strftime('%d/%m/%Y') %></strong> al 
        <strong><%= reservation.check_out.strftime('%d/%m/%Y') %></strong>
      </p>
    </section>
  </div>
  <div class="reservation-guest">
    <h1>Reservación solicitada por:</h1>
    <div>
      <p><strong>Huesped:</strong> <%= reservation.guest.name %></p>
      <p><strong>Mascotas a cuidar:</strong> <%= reservation.pets_number %></p>
      <p><strong>Status:</strong> <%= reservation.translate_status %></p>
    </div>
    <p>Total: <strong>$<%= reservation.amount %></strong></p>
  </div>
  <% if action_name == 'show' %>
    <% if @reservation.pending? && @reservation.host == current_user %>
      <div class="status-buttons">
        <%= button_to "Rechazar reservación", reservation_path(@reservation, reservation: { status: 'canceled' }), method: :put, class: 'cancel-button' %>
        <%= button_to "Aceptar reservación", reservation_path(@reservation, reservation: { status: 'aproved' }), method: :put, class: 'approve-button' %>
      </div>
    <% else %>
      <% unless @reservation.canceled? || @reservation.finished? %>  
        <div class="status-buttons">
          <%= button_to "Cancelar reservación", reservation_path(@reservation, reservation: { status: 'canceled' }), method: :put, class: 'cancel-button' %>
          <% if @reservation.host == current_user %>
            <%= button_to "Finalizar reservación", reservation_path(@reservation, reservation: { status: 'finished' }), method: :put, class: 'approve-button' %>
          <% end %>
        </div>
      <% end %>
    <% end %>    
  <% end %>
  <% if reservation.review.nil? && reservation.finished? && Review.left_review?(reservation.home_id, current_user) %>
    <%= link_to new_review_path(reservation: reservation), class: 'review-link' do %>
      <span>Deja un comentario</span><i class="fa-solid fa-comment-dots"></i>
    <% end %>
  <% end %>
</article>
