<article class="reservation <%= reservation.status %>">
  <div class="reservation-detail">
    <h1><%= reservation.home.title %></h1>
    <section class="reservation-info info-index">
      <div>
        <strong><p>Dirección:</p></strong>
        <p><%= reservation.home.address %></p>
        <strong><p>Ofrecido:</p></strong>
        <p><%= reservation.home.user.name %></p>
        <p class="phone">Cel: <%= reservation.home.user.phone %></p>
      </div>
    </section>
    <section class="reservation-date">
      <p>
        Se solicito una reservación del 
        <strong><%= reservation.check_in.strftime('%d/%m/%Y') %></strong> al 
        <strong><%= reservation.check_out.strftime('%d/%m/%Y') %></strong>
      </p>
    </section>
  </div>
  <div class="reservation-guest">
    <h1>Reservación solicitada por:</h1>
    <div>
      <p><strong>Huesped:</strong> <%= reservation.guest.name %></p>
      <p><strong>Mascotas a cuidar:</strong> <%= reservation.pets_number %></p>
      <p><strong>Estatus:</strong> <%= reservation.translate_status %></p>
    </div>
    <p>Total: <strong>$<%= reservation.amount %></strong></p>
  </div>
  <% if left_review?(reservation.home_id, reservation) %>
    <i class="fa-solid fa-comment-dots left-review"></i>
  <% end %>
</article>
