<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>

<div id="reservations">
  <span>Hechas</span>
  <% @guest_reservations.each do |reservation| %>
    <div class="guest-reservations" id=<%= dom_id reservation %>>
      <%= render reservation %>
      <p>
        <%= link_to "Show this reservation", reservation %>
      </p>
    </div>
  <% end %>
  <span>Solicitadas</span>
  <% @host_reservations.each do |reservation| %>
    <div class="host-reservation" id=<%= dom_id reservation %>>
      <%= render reservation %>
      <p>
        <%= link_to "Show this reservation", reservation %>
      </p>
    </div>
  <% end %>
</div>
