<main class="reservation-main reservation-index">
  <h1>Reservaciones</h1>
  <div class="reservation-filter">
    <% if @host_reservations.size.zero? and @guest_reservations.size.zero? %>
      <div>
        <section class="filter-reservation">
          <%= link_to 'Todas', reservations_path %>
          <%= link_to 'Pendientes', reservations_path(status: 0) %>
          <%= link_to 'Canceladas', reservations_path(status: 2) %>
          <%= link_to 'Aprobadas', reservations_path(status: 1) %>
          <%= link_to 'Finalizadas', reservations_path(status: 3) %>
        </section>
      </div>
      <p>No ha realizado ninguna reservación o no tiene ninguna del tipo seleccionado</p>
    <% else %>
    <div>
      <section class="filter-reservation">
        <%= link_to 'Todas', reservations_path %>
        <%= link_to 'Pendientes', reservations_path(status: 0) %>
        <%= link_to 'Canceladas', reservations_path(status: 2) %>
        <%= link_to 'Aprobadas', reservations_path(status: 1) %>
        <%= link_to 'Finalizadas', reservations_path(status: 3) %>
      </section>
    </div>
    <section>
      <% unless @guest_reservations.size.zero? %>
        <h3>Hechas</h3>
        <div class="revervation-container">
          <% @guest_reservations.each do |reservation| %>
            <div class="guest-reservation">
              <%= link_to reservation_path(reservation) do %>
                  <%= render "reservation_index", reservation: reservation %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% unless @host_reservations.size.zero? %>
        <h3>Solicitadas</h3>
        <div class="revervation-container">
          <% @host_reservations.each do |reservation| %>
            <div class="host-reservation">
              <%= link_to reservation_path(reservation) do %>
                  <%= render "reservation_index", reservation: reservation %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>
</main>
