<main class="reservation-main">
  <h1>Realiza tu reservación</h1>

  <section class="reservation-info">
    <%= image_tag @home.photos[0].variant(resize_to_limit: [500, 500]) %>
    <div>
      <h2><%= @home.title %></h2>
      <h3>Dirección:</h3>
      <p><%= @home.address %></p>
      <h3>Ofrecido:</h3>
      <%= link_to @home.user.name, user_path(@home.user)%>
    </div>
    <%= render 'partials/calendar', meetings: @home.reservations %>
  </section>

  <%= render "form", reservation: @reservation %>
</main>

<div>
  <%= link_to "Back to reservations", reservations_path %>
</div>
<%= javascript_include_tag 'reservation' %>
