<h1>Realiza tu reservación</h1>
<main class="reservation-main reservation-new">
  <div>
    <h2><%= @home.title %></h2>
  </div>
  <div class="info-reservation-desktop">
    <section class="reservation-info">
      <%= image_tag @home.photos[0].variant(resize_to_limit: [500, 500]) %>
    </section>
    <%= render "form", reservation: @reservation %>
  </div>
</main>

<div>
  <%= link_to '<i class="fa-solid fa-arrow-rotate-left"></i>'.html_safe, home_path(@home) %>
</div>
<%= javascript_include_tag 'reservation' %>
