<%= form_with(model: home , local: true, data: { controller: :maps, action: "google-maps-callback@window->maps#initializeMap" }) do |form| %>
  <% if home.errors.any? %>
    <div style="color: red">
      <ul>
        <% home.errors.each do |error| %>
          <li><%= error.attribute %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-desktop">
    <div class="new-home-cont">
      <div class="new-home-photo">
        <div class="file-field">
          <%= form.label :photos do %>
            <span><strong>Subir fotos:</strong></span>
            <%= form.file_field :photos, multiple: true, onchange: 'loadFiles(event)', class: 'input-file'%>
            <div class="upload photos-field" id="upload">
              <span id="add">+</span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="new-home-form">
        <% if action_name == 'new' %>
          <h1>Registra una nueva casa</h1>
        <% else %>
          <h1>Actualiza la información de tu casa</h1>
        <% end %>
        <div class="field">
          <%= form.label :title, 'Título', style: "display: block" %>
          <%= form.text_field :title, placeholder: 'Escribe un título para tu casa' %>
        </div>

      <div class="field">
        <%= form.label :address, 'Dirección' %>
        <%= form.text_area :address, placeholder: 'Ingresa tu dirección' %>
      </div>

        <div class="field">
          <%= form.hidden_field :latitude, class: 'form-control', data: { target: "maps.latitude" } %>
        </div>

        <div class="field">
          <%= form.hidden_field :longitude, class: 'form-control', data: { target: "maps.longitude" } %>
        </div>

        <div class="field">
          <%= form.label :description, 'Descripción',  style: "display: block" %>
          <%= form.text_area :description, placeholder: 'Escribe una breve descripción de tu casa' %>
        </div>

        <div class="field">
          <%= form.label :price, 'Costo', style: "display: block" %>
          <%= form.text_field :price, placeholder: 'Costo por día' %>
        </div> 
        
      </div>
    </div>

    <strong>Busca tu casa en el mapa</strong>
    <input id="pac-input" class="controls form-control" type="search" placeholder="Busca tu casa" data-target="maps.field" data-action="keydown->maps#preventSubmit"/>
    <%= content_tag :div, nil, data: { target: "maps.map" }, class: 'map', id: 'map' %>

    <% if action_name == 'edit' %>
      <span><strong>Fotos actuales:</strong></span>
      <div class="field photos-field photos-delete">
        <% home.photos.each do |photo| %>
          <%= link_to edit_home_path(home, photo_id: photo), class: 'photo' do %>
            <%= image_tag(photo) %>
            <div class="trash-icon">
              <i class="fa-solid fa-trash-can"></i>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="button-back">
      <div class="actions">
        <%= form.submit 'Guardar', class: "button" %>
      </div>
    </div>
  </div>
<% end %>
<div id="icon-back links">
  <a href= <%= homes_path %>><i class="fa-solid fa-arrow-rotate-left"></i></a>
</div>
