<div id="<%= dom_id home %>">
  <p>
    <strong>Title:</strong>
    <%= home.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= home.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= home.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= home.price %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= home.score %>
  </p>

  <p>
    <strong>User:</strong>
    <%= home.user_id %>
  </p>

  <p>
    <strong>Home Photos:</strong>
    <% home.photos.each do |photo| %>
      <%= image_tag photo.variant(resize_to_limit: [100, 100]) %>
    <% end %>
    
  </p>

  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=400x300&markers=color:red|label:P|#{home.latitude},#{home.longitude}&center=#{home.latitude},#{home.longitude}&key=#{ENV['MAPS_API_KEY']}" %>
  
</div>
