<div class="show-desktop">
  <section class="principal-info">
    <div class="first-section">
      <div class="img-photo">
        <div class="button-img">
          <button class="back">&#60</button>
          <button class="forward">&#62</button>
        </div>
        <%= image_tag @home.photos[0], width: "375", class: "img-main active" %>
        <aside class="photos-selection">
          <% @home.photos.each do |photo| %>
            <%= image_tag photo, class: "photo-secundary" %>
          <% end %>
        </aside>
      </div>
      <div class="title">
        <h2><%= @home.title %></h2>
      </div>
    </div>
    <div class = "reputation" >
      <div class = "score-house">
        <i class="fa-solid fa-star"></i>
        <span><%=@home.score%></span>
        <p>(4 opiniones)</p>
      </div>
      <p id="name-rep"><%= @home.user.name%></p>
    </div>
  </section>
  <div class="content-show">
    <p class="show-house-text"><%= @home.description%></p>
    <div class="home-reservation">
      <div class = "house-pets-info">
        <span>Gatos | Perros</span>
        <span>Hasta 2 mascotas</span>
      </div>
      <div class = "reservation">
        <h3>Agenda tu reservaci칩n</h3>
        <div class="reservation-form">
          <div class="days">
            <div>
              <p>Llegada</p>
              <span><input type="date" class="reservation-date"></span>
            </div>
            <div>
              <p>Salida</p>
              <span><input type="date" class="reservation-date"></span>
            </div>
          </div>
          <div class ="pets">
            <select class="reservation-select">
              <option selected>Mascotas</option>
              <option value="value1">1</option>
              <option value="value2">2</option>
            </select>
          </div>
        </div>
        <%= link_to 'Reservar', new_reservation_url(home: @home), class: 'btn-reservation' %>
      </div>
    </div>
    <div class="opinions">
      <h3>Opiniones</h2>
      <div class="wrap-opnions">
        <section class="opinion">
          <div class="opinion-user">
            <div>
              <span><i class="fa-solid fa-user"></i></span>
              <span class="nombre">Jorge D치valos</span>
            </div>
            <span><i class="fa-solid fa-star"> <%= @home.score %></i></span>
          </div>
          <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </section>
        <section class="opinion">
          <div class="opinion-user">
            <div>
              <span><i class="fa-solid fa-user"></i></span>
              <span class="nombre">Jorge D치valos</span>
            </div>
            <span><i class="fa-solid fa-star"> <%= @home.score %></i></span>
          </div>
          <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </section>
      </div>
      <div class="plus">
        <p>Mostrar m치s</p>
      </div>
    </div>
    <div class="options-show">
      <a href= <%= edit_home_path(@home) %>><i class="fa-solid fa-pen-to-square"></i></a>
      <a href= <%= homes_path %>><i class="fa-solid fa-arrow-rotate-left"></i></a>
      <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, homes_delete_path(@home) %>
    </div>
  </div>
  <script> photos(); photosMobile(); </script>
</div>
