<div class="show-desktop">
  <section class="principal-info">
    <div class="first-section">
      <div class="img-photo">
        <div class="button-img">
          <button class="back">&#60</button>
          <button class="forward">&#62</button>
        </div>
        <%= image_tag @home.photos[0].variant(resize_to_limit: [500, 500]), class: "img-main active" %>
        <aside class="photos-selection">
          <% @home.photos.each do |photo| %>
            <%= image_tag photo, class: "photo-secundary" %>
          <% end %>
        </aside>
      </div>
      <div class="title">
        <h2><%= @home.title %></h2>
      </div>
    </div>
    <div class = "reputation" >
      <div class="score">
        <i class="fa-solid fa-star"></i>
        <span><%= @home.score %></span><br>
        <p>(<%= Review.total_reviews(@home.id) %> comentarios)</p>
      </div>
      <%= link_to user_path(@home.user), class: 'user-link' do %>
        <%= image_tag@home.user.profile_photo.variant(resize_to_limit: [100, 100]) %>
        <%= @home.user.name %>
      <% end %>
    </div>
    <%= render 'partials/calendar', meetings: @meetings %>
  </section>
  <div class="content-show">
    <p class="show-house-text"><%= @home.description%></p>
    <div class="home-reservation">
      <div class = "house-pets-info">
        <span>Gatos | Perros</span>
        <span>Hasta 2 mascotas</span>
        <a href="https://www.google.com/maps/search/?api=1&query=<%= @home.latitude%>%2C<%= @home.longitude%>" target=_blank><i class="fa-solid fa-location-dot"></i> Ver en Google Maps</a>
      </div>
      <div class = "reservation">
        <h3>Agenda tu reservación</h3>
        <div class="reservation-preview">
          <div class="days">
            <div>
              <p>Llegada</p>
              <span><input type="date" class="reservation-date"></span>
            </div>
            <div>
              <p>Salida</p>
              <span><input type="date" class="reservation-date"></span>
            </div>
          </div>
          <div class ="pets">
            <select class="reservation-select">
              <option selected>Mascotas</option>
              <option value="value1">1</option>
              <option value="value2">2</option>
            </select>
          </div>
        </div>
        <%= link_to 'Reservar', new_reservation_url(home: @home), class: 'btn-reservation' %>
      </div>
    </div>
    <div class="opinions">
      <h3>Opiniones</h2>
        <% if Review.total_reviews(@home.id) <= 0 %>
          <p>Esta casa no tiene comentarios</p>
        <% else %>
          <div class="reviews">
            <% @reviews.each do |review| %>
              <div class="opinion" id=<%= dom_id review %>>
                  <%= link_to review do %>
                    <%= render review %>
                  <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <div class="plus">
        <%= link_to 'Mostrar más', homes_reviews_path %>
      </div>
    </div>
    <div class="options-show">
      <a href= <%= edit_home_path(@home) %>><i class="fa-solid fa-pen-to-square"></i></a>
      <a href= <%= homes_path %>><i class="fa-solid fa-arrow-rotate-left"></i></a>
      <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, homes_delete_path(@home) %>
    </div>
  </div>
  <script> photos(); photosMobile(); </script>
</div>
