<div class="show-desktop">
  <h2><%= @home.title %></h2>
  <section class="principal-info">
    <div class="first-section">
      <div class="img-photo">
        <div class="button-img">
          <button class="back">&#60</button>
          <button class="forward">&#62</button>
        </div>
        <%= image_tag @home.photos[0].variant(resize_to_limit: [500, 500]), class: "img-main active" %>
        <aside class="photos-selection">
          <% @home.photos.each do |photo| %>
            <%= image_tag photo, class: "photo-secundary" %>
          <% end %>
        </aside>
      </div>
    </div>
    <div class = "reputation" >
      <div class="score">
        <i class="fa-solid fa-star"></i>
        <span><%= @home.score %></span><br>
        <p>(<%= Review.total_reviews(@home.id) %> comentarios)</p>
      </div>
      <%= link_to user_path(@home.user), class: 'user-link' do %>
        <%= image_tag@home.user.profile_photo.variant(resize_to_limit: [100, 100]) %>
        <%= @home.user.name %>
      <% end %>
    </div>
    <p><strong>Disponibilidad</strong></p>
    <%= render 'partials/calendar', meetings: @meetings %>
  </section>
  <div class="content-show">
    <h3 class="show-house-text"><%= @home.description%></h3>
    <div class="address">
      <p><strong>Ubicado en:</strong> <%= @home.address %></p>
      <a href="https://www.google.com/maps/search/?api=1&query=<%= @home.latitude%>%2C<%= @home.longitude%>" target=_blank><i class="fa-solid fa-location-dot"></i> Ver en Google Maps</a>
    </div>
    <div class="home-reservation">
      <%= form_with url: new_reservation_url(home: @home), data: { turbo: "false" }, method: 'post'  do |f| %>
        <div class = "reservation">
          <h3>Agenda tu reservación</h2>
          <div class="reservation-preview">
            <div class="days">
              <div>
                <p>Llegada</p>
                <span><%= f.date_field :check_in  %></span>
              </div>
              <div>
                <p>Salida</p>
                <span><%= f.date_field :check_out %></span>
              </div>
            </div>
            <div class ="pets">
              <%= f.label "Mascotas", style: "display: block" %>
              <%= f.select :pets_number, (1..current_user.pets.size), required: true %>
            </div>
          </div>
          <%= f.submit "Reservar", class: 'btn-reservation' %>
        </div>
      <% end %>
    </div>
    <div class="opinions">
      <h3>Opiniones</h2>
        <% if Review.total_reviews(@home.id) <= 0 %>
          <p>Esta casa no tiene comentarios</p>
        <% else %>
          <div class="reviews">
            <% @reviews.each do |review| %>
              <div class="opinion" id=<%= dom_id review %>>
                  <%= link_to review do %>
                    <%= render review %>
                  <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <div class="plus">
        <%= link_to 'Mostrar más', homes_reviews_path %>
      </div>
    </div>
  </div>
  <script> photos(); photosMobile(); </script>
</div>
<div class="links">
  <% if current_user == @home.user %>
    <a href= <%= edit_home_path(@home) %>><i class="fa-solid fa-pen-to-square"></i></a>
  <% end %>
  <a href= <%= homes_path %>><i class="fa-solid fa-arrow-rotate-left"></i></a>
  <% if current_user == @home.user %>
    <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, homes_delete_path(@home) %>
  <% end %>
</div>
