<%= render @home %>

<div>
  <%= link_to 'Editar', edit_home_path(@home) %> |
  <%= link_to 'Volver', homes_path %>
  <%= link_to 'Reservar', new_reservation_path(home: @home)%>

  <%= button_to "Eliminar", @home, method: :delete %>
</div>
