<%= form_with(model: review, class: 'review-form') do |form| %>
  <% if review.errors.any? %>
    <div class="invalid-form">
      <p>Ha ocurrido un error:</p>
      <aside>
        <% review.errors.each do |error| %>
          <p><%= error.attribute %></p>
        <% end %>
      </aside>
    </div>
  <% end %>

  <div class="hidden">
    <%= form.hidden_field :home_id, value: @reservation.home_id %>
  </div>

  <div class="hidden">
    <%= form.hidden_field :reservation_id, value: @reservation.id %>
  </div>

  <div class="hidden">
    <%= form.hidden_field :guest_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :comment, 'Comentario', style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div class="field range-field">
    <%= form.label :score, '', style: "display: block", id: 'rangeValue' %>
    <%= form.range_field :score, value: 0, in: 0..5, step: 0.1, id: 'myRange', onmousemove: 'updateRangeValue();', onmouseup: 'updateRangeValue();' %>
  </div>

  <div class="confirm">
    <div class="actions">
      <%= form.submit 'Guardar comentario' %>
    </div>
  </div>
<% end %>
<%= javascript_include_tag 'reservation' %>
<script>updateRangeValue();</script>
