<main class="reviews-main">

  <section class="house-reviewed">
    <%= image_tag @home.photos[0].variant(resize_to_limit: [500, 500]) %>
    <div>
      <h2><%= @home.title %></h2>
      <p><%= @home.address %></p>
      <%= link_to user_path(@home.user), class: 'user-link' do %>
        <%= image_tag@home.user.profile_photo.variant(resize_to_limit: [100, 100]) %>
        <%= @home.user.name %>
      <% end %>
    </div>
  </section>
  <div class="index-reviews">
    <% if @reviews.size.zero?%>
      <h3>Esta casa no tiene comentarios</h3>
    <% else %>
      <h3>Comentarios:</h3>
      <% unless @reviews.size.zero? %>
        <div class="reviews">
          <% @reviews.each do |review| %>
            <div id=<%= dom_id review %>>
                <%= link_to review do %>
                  <%= render review %>
                <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</main>
