<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoFinalPfF22T4</title>
    <script src="https://kit.fontawesome.com/747117353f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&libraries=places&callback=dispatchMapsEvent",
                            async: true,
                            defer: true,
                            "data-turbolinks-eval": false %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "partials/navbar" %>
    <div class="content">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <%= render "partials/footer" %>
  </body>
</html>
